<h2 mat-dialog-title>{{ isEditMode ? 'Editar Encuesta' : 'Nueva Encuesta' }}</h2>

<mat-dialog-content>
  <form class="form-container" [formGroup]="form">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre de la encuesta</mat-label>
      <input matInput formControlName="name" required maxlength="100">

    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput formControlName="description" required maxlength="500" rows="4"></textarea>

    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">

  <button mat-button (click)="onCancel()">Cancelar</button>

  <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">
    {{ isEditMode ? 'Actualizar' : 'Crear' }}
  </button>

</mat-dialog-actions>
